body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:770px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:120px;
  width:740px;
  height:30px;
}
#u0_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:746px;
  height:36px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:35px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:177px;
  top:0px;
  width:301px;
  height:30px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:297px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:478px;
  top:0px;
  width:262px;
  height:30px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:258px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:30px;
  top:0px;
  width:740px;
  height:120px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:120px;
}
#u9 {
  position:absolute;
  left:2px;
  top:52px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:60px;
  top:83px;
  width:127px;
  height:37px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:37px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:30px;
  top:180px;
  width:740px;
  height:60px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:60px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:670px;
  top:250px;
  width:100px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u14 {
  position:absolute;
  left:110px;
  top:311px;
  width:540px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:30px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:30px;
  top:285px;
  width:60px;
  height:66px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:66px;
}
#u17 {
  position:absolute;
  left:2px;
  top:25px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:110px;
  top:335px;
  width:57px;
  height:16px;
  text-decoration:underline;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:701px;
  top:335px;
  width:69px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:30px;
  top:361px;
  width:740px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:723px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:740px;
  height:1px;
}
#u23 {
  position:absolute;
  left:701px;
  top:311px;
  width:53px;
  height:16px;
  text-decoration:underline;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:110px;
  top:285px;
  width:200px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:110px;
  top:416px;
  width:540px;
  height:30px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:30px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:30px;
  top:390px;
  width:60px;
  height:66px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:66px;
}
#u30 {
  position:absolute;
  left:2px;
  top:25px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:110px;
  top:440px;
  width:57px;
  height:16px;
  text-decoration:underline;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:701px;
  top:440px;
  width:69px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:30px;
  top:466px;
  width:740px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:723px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:740px;
  height:1px;
}
#u36 {
  position:absolute;
  left:701px;
  top:416px;
  width:52px;
  height:16px;
  text-decoration:underline;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:110px;
  top:390px;
  width:200px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:110px;
  top:512px;
  width:540px;
  height:30px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:30px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:30px;
  top:486px;
  width:60px;
  height:66px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:66px;
}
#u43 {
  position:absolute;
  left:2px;
  top:25px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:701px;
  top:536px;
  width:69px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:30px;
  top:700px;
  width:740px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:723px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:740px;
  height:1px;
}
#u47 {
  position:absolute;
  left:701px;
  top:512px;
  width:53px;
  height:16px;
  text-decoration:underline;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:110px;
  top:486px;
  width:200px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:110px;
  top:574px;
  width:46px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:110px;
  top:554px;
  width:660px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:643px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:660px;
  height:1px;
}
#u54 {
  position:absolute;
  left:701px;
  top:598px;
  width:69px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:701px;
  top:574px;
  width:53px;
  height:16px;
  text-decoration:underline;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:110px;
  top:635px;
  width:650px;
  height:25px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u59 {
  position:absolute;
  left:660px;
  top:670px;
  width:100px;
  height:25px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
